@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.listContainer{
    max-height: 1200px;
    display: flex;
    list-style: none !important;
    padding: 1.5rem;
    gap: 2rem;
    color: #FFFFFF;
    background-color: #373736;
    transition: 500ms ease-in-out; 
}

.listContainer > li {
    border-bottom: 1px solid transparent;
    transition: border-color 500ms ease-in-out;
}


.listContainer > li:hover{
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
    transition: 500ms ease-in-out; 
}